USE [SGA]
GO
/****** Object:  Table [dbo].[Articulos]    Script Date: 22/02/2018 16:58:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articulos](
	[codArticulo] [int] IDENTITY(1,1) NOT NULL,
	[codigoBarras] [varchar](50) NULL,
	[marca] [varchar](50) NULL,
	[descripcion] [varchar](50) NULL,
	[presentacion] [varchar](50) NULL,
	[tamano] [varchar](50) NULL,
	[unidad] [int] NOT NULL,
	[cantidadAComprar] [int] NOT NULL,
	[tipo] [varchar](50) NULL,
	[precio] [float] NOT NULL,
	[cantReal] [int] NOT NULL,
	[cantFuturoDisponible] [int] NOT NULL,
	[cantReservada] [int] NOT NULL,
 CONSTRAINT [PK_Articulos] PRIMARY KEY CLUSTERED 
(
	[codArticulo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 22/02/2018 16:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[nroCliente] [int] IDENTITY(1,1) NOT NULL,
	[razonSocial] [varchar](50) NULL,
	[direccion] [varchar](50) NULL,
	[localidad] [varchar](50) NULL,
	[codPostal] [int] NULL,
	[telefono] [varchar](50) NULL,
	[cuit] [varchar](50) NULL,
	[condicionIVA] [varchar](50) NULL,
	[limiteDeCredito] [float] NULL,
	[saldo] [float] NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[nroCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Facturas]    Script Date: 22/02/2018 16:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facturas](
	[nroFactura] [int] IDENTITY(1,1) NOT NULL,
	[prefijo] [int] NULL,
	[fechaEmision] [date] NULL,
	[total] [float] NULL,
	[nroCliente] [int] NOT NULL,
 CONSTRAINT [PK_Facturas] PRIMARY KEY CLUSTERED 
(
	[nroFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemsFactura]    Script Date: 22/02/2018 16:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemsFactura](
	[idItemFactura] [int] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NULL,
	[precioUnitario] [float] NULL,
	[codArticulo] [int] NOT NULL,
	[nroFactura] [int] NOT NULL,
 CONSTRAINT [PK_ItemsFactura] PRIMARY KEY CLUSTERED 
(
	[idItemFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemsOC]    Script Date: 22/02/2018 16:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemsOC](
	[idItemOC] [int] IDENTITY(1,1) NOT NULL,
	[cant] [int] NOT NULL,
	[codArticulo] [int] NOT NULL,
	[nroOC] [int] NOT NULL,
 CONSTRAINT [PK_ItemsOC] PRIMARY KEY CLUSTERED 
(
	[idItemOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemsPedido]    Script Date: 22/02/2018 16:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemsPedido](
	[nroItemPedido] [int] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NULL,
	[codArticulo] [int] NULL,
	[nroPedido] [int] NULL,
 CONSTRAINT [PK_ItemsPedido] PRIMARY KEY CLUSTERED 
(
	[nroItemPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemsRemito]    Script Date: 22/02/2018 16:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemsRemito](
	[nroItemRemito] [int] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NULL,
	[codArticulo] [int] NOT NULL,
	[nroRemito] [int] NOT NULL,
 CONSTRAINT [PK_ItemsRemito] PRIMARY KEY CLUSTERED 
(
	[nroItemRemito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lotes]    Script Date: 22/02/2018 16:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lotes](
	[codLote] [int] IDENTITY(1,1) NOT NULL,
	[fechaVtoLote] [date] NOT NULL,
	[codArticulo] [int] NOT NULL,
 CONSTRAINT [PK_Lotes] PRIMARY KEY CLUSTERED 
(
	[codLote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LotesMovimientos]    Script Date: 22/02/2018 16:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LotesMovimientos](
	[nroMovimiento] [int] NOT NULL,
	[codLote] [int] NOT NULL,
 CONSTRAINT [PK_LotesMovimientos] PRIMARY KEY CLUSTERED 
(
	[nroMovimiento] ASC,
	[codLote] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movimientos]    Script Date: 22/02/2018 16:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimientos](
	[nroMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[tipoMovimiento] [varchar](50) NOT NULL,
	[cantidad] [int] NOT NULL,
	[nroOCompra] [int] NULL,
	[nroPedido] [int] NULL,
	[empleado] [varchar](50) NULL,
	[motivoDeAjuste] [varchar](50) NULL,
	[codArticulo] [int] NOT NULL,
 CONSTRAINT [PK_Movimiento] PRIMARY KEY CLUSTERED 
(
	[nroMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenesCompra]    Script Date: 22/02/2018 16:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenesCompra](
	[nroOC] [int] IDENTITY(1,1) NOT NULL,
	[nroProveedor] [int] NOT NULL,
	[estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_OrdenesCompra] PRIMARY KEY CLUSTERED 
(
	[nroOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedidos]    Script Date: 22/02/2018 16:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedidos](
	[nroPedido] [int] IDENTITY(1,1) NOT NULL,
	[estadoPedido] [varchar](50) NULL,
	[fechaGeneracion] [date] NULL,
	[fechaDespacho] [date] NULL,
	[total] [float] NULL,
	[nroCliente] [int] NULL,
 CONSTRAINT [PK_Pedidos] PRIMARY KEY CLUSTERED 
(
	[nroPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Remitos]    Script Date: 22/02/2018 16:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Remitos](
	[nroRemito] [int] IDENTITY(1,1) NOT NULL,
	[prefijo] [int] NULL,
	[fecha] [date] NULL,
	[nroCliente] [int] NULL,
 CONSTRAINT [PK_Remito] PRIMARY KEY CLUSTERED 
(
	[nroRemito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubicaciones]    Script Date: 22/02/2018 16:58:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubicaciones](
	[nroUbicacion] [int] IDENTITY(1,1) NOT NULL,
	[codigoUbicacion] [varchar](50) NOT NULL,
	[cantLibre] [int] NOT NULL,
	[capacidadMax] [int] NOT NULL,
	[codLote] [int] NULL,
 CONSTRAINT [PK_Ubicaciones] PRIMARY KEY CLUSTERED 
(
	[nroUbicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Articulos] ON 

INSERT [dbo].[Articulos] ([codArticulo], [codigoBarras], [marca], [descripcion], [presentacion], [tamano], [unidad], [cantidadAComprar], [tipo], [precio], [cantReal], [cantFuturoDisponible], [cantReservada]) VALUES (1, N'10000', N'Coca-Cola', N'Coca-Cola Light', N'botella', N'500', 1, 1000, NULL, 30, 500, 0, 0)
INSERT [dbo].[Articulos] ([codArticulo], [codigoBarras], [marca], [descripcion], [presentacion], [tamano], [unidad], [cantidadAComprar], [tipo], [precio], [cantReal], [cantFuturoDisponible], [cantReservada]) VALUES (2, N'10001', N'Coca-Cola', N'Coca-Cola Zero', N'botella', N'1,5 lts', 1, 1000, NULL, 30, 500, 0, 0)
INSERT [dbo].[Articulos] ([codArticulo], [codigoBarras], [marca], [descripcion], [presentacion], [tamano], [unidad], [cantidadAComprar], [tipo], [precio], [cantReal], [cantFuturoDisponible], [cantReservada]) VALUES (3, N'10002', N'Sprite', N'Sprite Original', N'botella', N'1,5 lts', 1, 1000, NULL, 28, 500, 0, 0)
SET IDENTITY_INSERT [dbo].[Articulos] OFF
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([nroCliente], [razonSocial], [direccion], [localidad], [codPostal], [telefono], [cuit], [condicionIVA], [limiteDeCredito], [saldo]) VALUES (1, N'Eugenio SA', N'Direc Eugenio', N'caba', 1111, N'11111111', N'11-11111111-1', N'Responsable Inscripto', 100000, 100000)
INSERT [dbo].[Clientes] ([nroCliente], [razonSocial], [direccion], [localidad], [codPostal], [telefono], [cuit], [condicionIVA], [limiteDeCredito], [saldo]) VALUES (2, N'Ariel SA', N'Direc Ariel', N'caba', 2222, N'22222222', N'22-22222222-2', N'Responsable Inscripto', 100000, 100000)
INSERT [dbo].[Clientes] ([nroCliente], [razonSocial], [direccion], [localidad], [codPostal], [telefono], [cuit], [condicionIVA], [limiteDeCredito], [saldo]) VALUES (3, N'Pablo SA', N'Direc Pablo', N'caba', 3333, N'33333333', N'33-33333333-3', N'Responsable Inscripto', 100000, 100000)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
SET IDENTITY_INSERT [dbo].[Lotes] ON 

INSERT [dbo].[Lotes] ([codLote], [fechaVtoLote], [codArticulo]) VALUES (1, CAST(N'2019-01-01' AS Date), 1)
INSERT [dbo].[Lotes] ([codLote], [fechaVtoLote], [codArticulo]) VALUES (2, CAST(N'2019-01-10' AS Date), 1)
INSERT [dbo].[Lotes] ([codLote], [fechaVtoLote], [codArticulo]) VALUES (3, CAST(N'2019-01-20' AS Date), 1)
SET IDENTITY_INSERT [dbo].[Lotes] OFF
SET IDENTITY_INSERT [dbo].[Pedidos] ON 

INSERT [dbo].[Pedidos] ([nroPedido], [estadoPedido], [fechaGeneracion], [fechaDespacho], [total], [nroCliente]) VALUES (1, NULL, NULL, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[Pedidos] OFF
SET IDENTITY_INSERT [dbo].[Ubicaciones] ON 

INSERT [dbo].[Ubicaciones] ([nroUbicacion], [codigoUbicacion], [cantLibre], [capacidadMax], [codLote]) VALUES (1, N'A010101', 800, 1000, 1)
INSERT [dbo].[Ubicaciones] ([nroUbicacion], [codigoUbicacion], [cantLibre], [capacidadMax], [codLote]) VALUES (2, N'A010102', 800, 1000, 2)
INSERT [dbo].[Ubicaciones] ([nroUbicacion], [codigoUbicacion], [cantLibre], [capacidadMax], [codLote]) VALUES (3, N'A010103', 900, 1000, 3)
GO
SET IDENTITY_INSERT [dbo].[Ubicaciones] OFF
ALTER TABLE [dbo].[Facturas]  WITH CHECK ADD  CONSTRAINT [FK_Facturas_Clientes] FOREIGN KEY([nroCliente])
REFERENCES [dbo].[Clientes] ([nroCliente])
GO
ALTER TABLE [dbo].[Facturas] CHECK CONSTRAINT [FK_Facturas_Clientes]
GO
ALTER TABLE [dbo].[ItemsFactura]  WITH CHECK ADD  CONSTRAINT [FK_ItemsFactura_Articulos] FOREIGN KEY([codArticulo])
REFERENCES [dbo].[Articulos] ([codArticulo])
GO
ALTER TABLE [dbo].[ItemsFactura] CHECK CONSTRAINT [FK_ItemsFactura_Articulos]
GO
ALTER TABLE [dbo].[ItemsFactura]  WITH CHECK ADD  CONSTRAINT [FK_ItemsFactura_Facturas1] FOREIGN KEY([nroFactura])
REFERENCES [dbo].[Facturas] ([nroFactura])
GO
ALTER TABLE [dbo].[ItemsFactura] CHECK CONSTRAINT [FK_ItemsFactura_Facturas1]
GO
ALTER TABLE [dbo].[ItemsOC]  WITH CHECK ADD  CONSTRAINT [FK_ItemsOC_Articulos] FOREIGN KEY([codArticulo])
REFERENCES [dbo].[Articulos] ([codArticulo])
GO
ALTER TABLE [dbo].[ItemsOC] CHECK CONSTRAINT [FK_ItemsOC_Articulos]
GO
ALTER TABLE [dbo].[ItemsOC]  WITH CHECK ADD  CONSTRAINT [FK_ItemsOC_OrdenesCompra] FOREIGN KEY([nroOC])
REFERENCES [dbo].[OrdenesCompra] ([nroOC])
GO
ALTER TABLE [dbo].[ItemsOC] CHECK CONSTRAINT [FK_ItemsOC_OrdenesCompra]
GO
ALTER TABLE [dbo].[ItemsPedido]  WITH CHECK ADD  CONSTRAINT [FK_ItemsPedido_Articulos] FOREIGN KEY([codArticulo])
REFERENCES [dbo].[Articulos] ([codArticulo])
GO
ALTER TABLE [dbo].[ItemsPedido] CHECK CONSTRAINT [FK_ItemsPedido_Articulos]
GO
ALTER TABLE [dbo].[ItemsPedido]  WITH CHECK ADD  CONSTRAINT [FK_ItemsPedido_Pedidos] FOREIGN KEY([nroPedido])
REFERENCES [dbo].[Pedidos] ([nroPedido])
GO
ALTER TABLE [dbo].[ItemsPedido] CHECK CONSTRAINT [FK_ItemsPedido_Pedidos]
GO
ALTER TABLE [dbo].[ItemsRemito]  WITH CHECK ADD  CONSTRAINT [FK_ItemsRemito_Articulos] FOREIGN KEY([codArticulo])
REFERENCES [dbo].[Articulos] ([codArticulo])
GO
ALTER TABLE [dbo].[ItemsRemito] CHECK CONSTRAINT [FK_ItemsRemito_Articulos]
GO
ALTER TABLE [dbo].[ItemsRemito]  WITH CHECK ADD  CONSTRAINT [FK_ItemsRemito_Remito] FOREIGN KEY([nroRemito])
REFERENCES [dbo].[Remitos] ([nroRemito])
GO
ALTER TABLE [dbo].[ItemsRemito] CHECK CONSTRAINT [FK_ItemsRemito_Remito]
GO
ALTER TABLE [dbo].[Lotes]  WITH CHECK ADD  CONSTRAINT [FK_Lotes_Articulos1] FOREIGN KEY([codArticulo])
REFERENCES [dbo].[Articulos] ([codArticulo])
GO
ALTER TABLE [dbo].[Lotes] CHECK CONSTRAINT [FK_Lotes_Articulos1]
GO
ALTER TABLE [dbo].[LotesMovimientos]  WITH CHECK ADD  CONSTRAINT [FK_LotesMovimientos_Lotes] FOREIGN KEY([codLote])
REFERENCES [dbo].[Lotes] ([codLote])
GO
ALTER TABLE [dbo].[LotesMovimientos] CHECK CONSTRAINT [FK_LotesMovimientos_Lotes]
GO
ALTER TABLE [dbo].[LotesMovimientos]  WITH CHECK ADD  CONSTRAINT [FK_LotesMovimientos_Movimiento] FOREIGN KEY([nroMovimiento])
REFERENCES [dbo].[Movimientos] ([nroMovimiento])
GO
ALTER TABLE [dbo].[LotesMovimientos] CHECK CONSTRAINT [FK_LotesMovimientos_Movimiento]
GO
ALTER TABLE [dbo].[Movimientos]  WITH CHECK ADD  CONSTRAINT [FK_Movimiento_Articulos] FOREIGN KEY([codArticulo])
REFERENCES [dbo].[Articulos] ([codArticulo])
GO
ALTER TABLE [dbo].[Movimientos] CHECK CONSTRAINT [FK_Movimiento_Articulos]
GO
ALTER TABLE [dbo].[Pedidos]  WITH CHECK ADD  CONSTRAINT [FK_Pedidos_Clientes] FOREIGN KEY([nroCliente])
REFERENCES [dbo].[Clientes] ([nroCliente])
GO
ALTER TABLE [dbo].[Pedidos] CHECK CONSTRAINT [FK_Pedidos_Clientes]
GO
ALTER TABLE [dbo].[Remitos]  WITH CHECK ADD  CONSTRAINT [FK_Remito_Clientes] FOREIGN KEY([nroCliente])
REFERENCES [dbo].[Clientes] ([nroCliente])
GO
ALTER TABLE [dbo].[Remitos] CHECK CONSTRAINT [FK_Remito_Clientes]
GO
ALTER TABLE [dbo].[Ubicaciones]  WITH CHECK ADD  CONSTRAINT [FK_Ubicaciones_Lotes] FOREIGN KEY([codLote])
REFERENCES [dbo].[Lotes] ([codLote])
GO
ALTER TABLE [dbo].[Ubicaciones] CHECK CONSTRAINT [FK_Ubicaciones_Lotes]
GO
